<html>
<head>
  <title></title>
</head>

<body>
  <h2>User</h2>

  <div id="user_wrapper"</div>
    <div class="user_card">
      <% @user.attributes.each do |key, value| %>
        <p><%= key %>: <%= value %></p>
      <% end %>
    </div>
  </div>

  <div id="all_items_wrapper"</div>
    <% @all_items.each do |item| %>
      <div class="item_card">
        <% item.attributes.each do |key, value| %>
          <p><%= key %>: <%= value %></p>
        <% end %>
      </div>
    <% end %>
  </div>


</body>

</html>




