<%= erb :'partials/_navbar' %> <!-- navbar partial -->

displays the item card for a specified item

<div class="item_card">
  <%= @item[:name]%>
  <% @item.attributes.each do |key, value| %>
    <p><%= value %></p>
  <% end %>
</div>
