<%= erb :'partials/_logout' %> <!-- logout partial -->
<!-- displays a list of all the items for either a user or a category -->

<% @all_items.each do |item| %>
  <p> <%= item[:name] %> </p>
<% end %>
