<%= erb :'partials/_logout' %> <!-- logout partial -->
<html>
<head>
  <title></title>
</head>

<body>
  <div id="category_card_wrapper"</div>
      <div class="category_card_image">
        <img id="category_img" src="/imgs/categories.jpg">
      </div>

  </div>

  <div id="all_items_wrapper"</div>
    <% @all_categories.each do |item| %>
      <div class="item_card">
        <img class="item_img" src="<%= item[:photo_url]%>">
        <p><%= item[:name] %> </p>
      </div>
    <% end %>
  </div>


</body>

</html>




